.mat-mdc-card {
  margin: 0 16px 16px 16px;
  padding-top: 16px;
}

.result-item {
  padding: 16px 20px;
  border-bottom: 1px solid lightgray;

  pre {
    overflow: auto;
    padding: 16px;
    background-color: var(--mat-theme-surface-container-color);
    color: var(--mat-theme-on-surface-variant-color);
    font-size: var(--mat-theme-body-small-fontsize);
    border-radius: var(--mdc-elevated-card-container-shape);
  }
}
