form {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  .mat-mdc-form-field {
    width: 100%;
  }
  .query-section {
    flex: 1 0 auto;
    padding-right: 20px;
  }
}

.progress-count {
  padding-top: 6px;
  text-align: center;
  font-weight: 500;
}

.mat-mdc-progress-bar {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}
