.container {
  padding: 20px;
  margin-bottom: -4px;
}
form {
  display: flex;
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
  .mat-mdc-form-field {
    width: 100%;
  }
  .query-section {
    flex: 1 0 auto;
    padding-right: 20px;
  }
}

.progress {
  display: flex;
  align-items: center;
}

.progress-count {
  display: inline-block;
  width: 96px;
  font-size: small;
  font-weight: 500;
  text-align: end;
  font-weight: 400;
}
