<form [formGroup]="queryForm" (ngSubmit)="submit()">
  <div class="query-section">
    <mat-form-field>
      <mat-label>Search query</mat-label>
      <input matInput formControlName="query" required />
      <mat-error *ngIf="queryForm.get('query').hasError('minlength')">Please enter at least 3 characters</mat-error>
    </mat-form-field>
    <mat-error *ngIf="!projectSelected">Please select at least one GitLab project</mat-error>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!searchProgress; else stopSearching"
      [disabled]="!projectSelected || queryForm.pristine || queryForm.invalid"
    >
      <mat-icon>search</mat-icon>&nbsp;Search
    </button>
    <ng-template #stopSearching>
      <button mat-raised-button color="warn" type="button" (click)="stop.emit()"><mat-icon>stop</mat-icon>&nbsp;Stop</button>
      <div class="progress-count theme-warn-color">{{ searchProgress.done }} / {{ searchProgress.total }}</div>
    </ng-template>
  </div>
</form>
<mat-progress-bar
  mode="determinate"
  *ngIf="searchProgress !== null"
  [value]="(searchProgress.done / searchProgress.total) * 100"
></mat-progress-bar>
