<h2 mat-dialog-title>Available GitLab instances</h2>
<mat-dialog-content>
  <button mat-button (click)="addForm()">
    <mat-icon>add</mat-icon>
    Add GitLab
  </button>
  @for (nothing of openedAddForms; track $index; let i = $index) {
    <app-gitlab-config-item initEdit (cancelEdit)="removeForm(i)"></app-gitlab-config-item>
  }
  @for (config of configs$ | async; track config) {
    <app-gitlab-config-item [gitlabConfig]="config"></app-gitlab-config-item>
  }
</mat-dialog-content>
<ng-template></ng-template>
