.mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: auto;
  max-width: 960px;
}

.sidenav-header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 16px;
}

.search-card-container {
  background-color: var(--mat-sidenav-content-background-color);
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 16px;
  z-index: 10;

  .mat-mdc-card {
    position: relative;
    top: 16px;
  }
}

.search-results {
  margin: 0 16px 16px 16px;
  padding-top: 16px;
}
