<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="config-button" (click)="openConfigSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <span>Gitlab Search</span>
  <span class="spacer"></span>
  <app-theme-toggle [mode]="themeMode$ | async" (toggleMode)="toggleThemeMode()"></app-theme-toggle>
</mat-toolbar>
<main class="theme-base">
  <aside class="theme-card mat-elevation-z4 mat-typography">
    <app-search-form
      [gitlabConfigs]="gitlabConfigs$ | async"
      [gitlabItems]="gitlabItems$ | async"
      [dataLoading]="gitladDataLoading$ | async"
      [withArchived]="withArchived$ | async"
      (gitlabSelected)="updateGitlabData($event)"
      (projectsSelected)="updateSelectedProjects($event)"
      (withArchivedChange)="onWithArchivedChange($event)"
    ></app-search-form>
  </aside>
  <div class="content">
    <div class="query-form mat-elevation-z2 theme-card">
      <app-query-form
        [projectSelected]="projectSelected$ | async"
        [searchProgress]="searchProgress$ | async"
        (query)="search($event)"
        (stop)="onStopSearchEvent()"
      ></app-query-form>
    </div>
    <app-search-results [results]="searchResults$ | async"></app-search-results>
  </div>
</main>
