<mat-sidenav-container autosize>
  <mat-sidenav mode="side" opened class="with-custom-scrollbar">
    <div class="sidenav-header">
      <button mat-icon-button class="config-button" (click)="openConfigSettings()">
        <mat-icon>settings</mat-icon>
      </button>
      <span class="mat-title-large">Gitlab Search</span>
      <span class="spacer"></span>
      <app-theme-toggle [mode]="themeMode$ | async" (setMode)="setThemeMode($event)" />
    </div>
    <app-search-form
      [gitlabConfigs]="gitlabConfigs$ | async"
      [gitlabItems]="gitlabItems$ | async"
      [dataLoading]="gitladDataLoading$ | async"
      [withArchived]="withArchived$ | async"
      (loadGitlab)="updateGitlabData($event)"
      (reloadGitlab)="reloadGitlabData($event)"
      (projectsSelected)="updateSelectedProjects($event)"
      (withArchivedChange)="onWithArchivedChange($event)"
    />
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="search-card-container">
      <mat-card>
        <app-query-form
          [projectSelected]="projectSelected$ | async"
          [searchProgress]="searchProgress$ | async"
          (query)="search($event)"
          (stopSearch)="onStopSearchEvent()"
        />
      </mat-card>
    </div>

    <mat-card class="search-results">
      @let query = searchQuery$ | async;
      @for (result of searchResults$ | async; track $index) {
        <app-search-result [result]="result" [query]="query" />
      }
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
