<mat-sidenav-container autosize>
  <mat-sidenav mode="side" opened class="with-custom-scrollbar">
    <div class="sidenav-header">
      <button mat-icon-button class="config-button" (click)="openConfigSettings()">
        <mat-icon>settings</mat-icon>
      </button>
      <span class="mat-title-large">Gitlab Search</span>
      <span class="spacer"></span>
      <app-theme-toggle [mode]="themeMode$ | async" (setMode)="setThemeMode($event)"></app-theme-toggle>
    </div>
    <app-search-form
      [gitlabConfigs]="gitlabConfigs$ | async"
      [gitlabItems]="gitlabItems$ | async"
      [dataLoading]="gitladDataLoading$ | async"
      [withArchived]="withArchived$ | async"
      (gitlabSelected)="updateGitlabData($event)"
      (reloadGitlab)="reloadGitlabData($event)"
      (projectsSelected)="updateSelectedProjects($event)"
      (withArchivedChange)="onWithArchivedChange($event)"
    ></app-search-form>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="search-card-container">
      <mat-card>
        <app-query-form
          [projectSelected]="projectSelected$ | async"
          [searchProgress]="searchProgress$ | async"
          (query)="search($event)"
          (stop)="onStopSearchEvent()"
        ></app-query-form>
      </mat-card>
    </div>
    <app-search-results [results]="searchResults$ | async" [query]="searchQuery$ | async"></app-search-results>
  </mat-sidenav-content>
</mat-sidenav-container>
