<mat-form-field>
  <input matInput [formControl]="filterCtrl" />
  <mat-label>Filter items</mat-label>
  <mat-icon matPrefix>filter_alt</mat-icon>
  <button mat-icon-button matSuffix *ngIf="filterCtrl.value" (click)="filterCtrl.reset()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="filterCtrl.hasError('minlength')">Enter at least 3 characters</mat-error>
</mat-form-field>

<mat-slide-toggle [checked]="withArchived" hideIcon (change)="withArchivedChange.emit($event.checked)">
  With archived projects
</mat-slide-toggle>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="this.dataSource.data?.length > 0; else nogitlabs">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <ng-container *ngIf="getNodeDataLoading(node); else selectableNode">
      <div class="loading-box">
        <mat-spinner [diameter]="20"></mat-spinner>
        <span class="label">
          <ng-container *ngTemplateOutlet="nodeTmpl; context: { $implicit: displayNode(node) }"></ng-container>
        </span>
      </div>
    </ng-container>
    <ng-template #selectableNode>
      <mat-checkbox [checked]="nodeSelection.isSelected(node)" (change)="leafNodeSelectionToggle(node, $event)" class="checklist-leaf-node">
        <ng-container *ngTemplateOutlet="nodeTmpl; context: { $implicit: displayNode(node) }"></ng-container>
      </mat-checkbox>
    </ng-template>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item" class="folder-button">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
      </mat-icon>
    </button>
    <mat-checkbox
      [checked]="descendantsAllSelected(node)"
      [indeterminate]="descendantsPartiallySelected(node)"
      (change)="nodeSelectionToggle(node, $event)"
    >
      <ng-container *ngTemplateOutlet="nodeTmpl; context: { $implicit: displayNode(node) }"></ng-container>
    </mat-checkbox>
  </mat-tree-node>
</mat-tree>

<ng-template #nogitlabs>
  <p>No gitlabs configured yet</p>
</ng-template>

<ng-template #nodeTmpl let-displayed>
  <ng-container *ngIf="displayed.isLink; else noLink">
    <span class="gitlab-name">
      <span>{{ displayed.value }}</span>
      <a [attr.href]="displayed.value" target="_blank">
        <mat-icon>link</mat-icon>
      </a>
    </span>
  </ng-container>
  <ng-template #noLink>
    {{ displayed.value }}
    <span *ngIf="displayed.qty" class="badge">{{ displayed.qty }}</span>
  </ng-template>
</ng-template>
