:host {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  gap: 20px;
  min-width: 480px;
}

.loading-box {
  display: flex;
  height: 24px;
  align-items: center;
  .mat-mdc-progress-spinner {
    margin-right: 4px;
  }
}

.mat-icon[matprefix] {
  margin-right: 10px;
}

.gitlab-name {
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    display: flex;
    text-decoration: none;
  }
}
