html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.spacer {
  flex: 1 0 auto;
}

.error-snackbar.mat-snack-bar-container {
  max-width: 90vw;
  background-color: darkred;
  color: whitesmoke;
  .mat-button {
    color: white;
  }
}
