html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.spacer {
  flex: 1 0 auto;
}

.error-snackbar.mat-mdc-snack-bar-container {
  max-width: 90vw;
  background-color: darkred;
  color: whitesmoke;
  .mat-mdc-button {
    color: white;
  }
}

input.without-arrows[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.custom-scrollbar,
.mat-sidenav.with-custom-scrollbar > .mat-drawer-inner-container {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-color: var(--mat-theme-secondary-container-color);
    border-radius: 4px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
