@use '@angular/material' as mat;
@use 'sass:map';

@mixin custom-styles-theme($theme) {
  $color-config: mat.m2-get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  a:link {
    color: mat.m2-get-color-from-palette($accent, 500);
  }
  a:visited {
    color: map.get($foreground, secondary-text);
  }
  a:hover {
    color: mat.m2-get-color-from-palette($accent, A400);
  }
  a:active {
    color: mat.m2-get-color-from-palette($accent, A700);
  }
  .theme-card {
    background-color: map.get($background, card);
    color: map.get($foreground, text);
  }
  .theme-base {
    background-color: mat.m2-get-color-from-palette($background, background);
    color: map.get($foreground, text);
  }
  .theme-warn-color {
    color: mat.m2-get-color-from-palette($warn, 500);
  }
}

$app-light-primary: mat.m2-define-palette(mat.$m2-teal-palette, 500);
$app-light-accent: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400);
$app-light-warn: mat.m2-define-palette(mat.$m2-red-palette);

$typography: mat.m2-define-typography-config();

$app-light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $app-light-primary,
      accent: $app-light-accent,
      warn: $app-light-warn,
    ),
    typography: $typography,
    density: 0,
  )
);

$app-dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$app-dark-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$app-dark-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$app-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
      warn: $app-dark-warn,
    ),
  )
);

@include mat.typography-hierarchy($typography);
@include mat.core();

@include mat.core-theme($app-light-theme);
@include mat.button-theme($app-light-theme);
@include mat.checkbox-theme($app-light-theme);
@include mat.dialog-theme($app-light-theme);
@include mat.divider-theme($app-light-theme);
@include mat.form-field-theme($app-light-theme);
@include mat.icon-theme($app-light-theme);
@include mat.input-theme($app-light-theme);
@include mat.progress-bar-theme($app-light-theme);
@include mat.progress-spinner-theme($app-light-theme);
@include mat.slide-toggle-theme($app-light-theme);
@include mat.snack-bar-theme($app-light-theme);
@include mat.toolbar-theme($app-light-theme);
@include mat.tree-theme($app-light-theme);
@include custom-styles-theme($app-light-theme);

.dark-theme {
  @include mat.core-color($app-dark-theme);
  @include mat.button-color($app-dark-theme);
  @include mat.checkbox-color($app-dark-theme);
  @include mat.dialog-color($app-dark-theme);
  @include mat.divider-color($app-dark-theme);
  @include mat.form-field-color($app-dark-theme);
  @include mat.icon-color($app-dark-theme);
  @include mat.input-color($app-dark-theme);
  @include mat.progress-bar-color($app-dark-theme);
  @include mat.progress-spinner-color($app-dark-theme);
  @include mat.slide-toggle-color($app-dark-theme);
  @include mat.snack-bar-color($app-dark-theme);
  @include mat.toolbar-color($app-dark-theme);
  @include mat.tree-color($app-dark-theme);
  @include custom-styles-theme($app-dark-theme);
}
