@use '@angular/material' as mat;
@use 'sass:map';
@use 'm3-theme';

@mixin custom-styles-theme($theme) {
  a:link,
  a:visited {
    color: mat.get-theme-color($theme, primary);
  }

  a:hover,
  a:active {
    color: mat.get-theme-color($theme, tertiary);
  }

  .theme-warn-color {
    color: mat.get-theme-color($theme, error);
  }

  --mat-sidenav-content-background-color: #{mat.get-theme-color($theme, surface-dim)};
  --mat-theme-primary-color: #{mat.get-theme-color($theme, primary)};
  --mat-theme-secondary-container-color: #{mat.get-theme-color($theme, secondary-container)};
  --mat-theme-on-secondary-container-color: #{mat.get-theme-color($theme, on-secondary-container)};
  --mat-theme-on-surface-variant-color: #{mat.get-theme-color($theme, on-surface-variant)};
  --mat-theme-surface-container-color: #{mat.get-theme-color($theme, surface-container)};
  --mat-theme-body-small-fontsize: #{mat.get-theme-typography($theme, body-small, font-size)};
}

@include mat.core();
@include mat.typography-hierarchy(m3-theme.$dark-theme);

@mixin _apply-light-colors() {
  @include mat.core-color(m3-theme.$light-theme);
  @include mat.button-color(m3-theme.$light-theme);
  @include mat.card-color(m3-theme.$light-theme);
  @include mat.checkbox-color(m3-theme.$light-theme);
  @include mat.dialog-color(m3-theme.$light-theme);
  @include mat.divider-color(m3-theme.$light-theme);
  @include mat.form-field-color(m3-theme.$light-theme);
  @include mat.icon-color(m3-theme.$light-theme);
  @include mat.input-color(m3-theme.$light-theme);
  @include mat.menu-color(m3-theme.$light-theme);
  @include mat.progress-bar-color(m3-theme.$light-theme);
  @include mat.progress-spinner-color(m3-theme.$light-theme);
  @include mat.slide-toggle-color(m3-theme.$light-theme);
  @include mat.sidenav-color(m3-theme.$light-theme);
  @include mat.snack-bar-color(m3-theme.$light-theme);
  @include mat.toolbar-color(m3-theme.$light-theme);
  @include mat.tree-color(m3-theme.$light-theme);
  @include custom-styles-theme(m3-theme.$light-theme);
}

body {
  @include mat.core-theme(m3-theme.$dark-theme);
  @include mat.button-theme(m3-theme.$dark-theme);
  @include mat.card-theme(m3-theme.$dark-theme);
  @include mat.checkbox-theme(m3-theme.$dark-theme);
  @include mat.dialog-theme(m3-theme.$dark-theme);
  @include mat.divider-theme(m3-theme.$dark-theme);
  @include mat.form-field-theme(m3-theme.$dark-theme);
  @include mat.icon-theme(m3-theme.$dark-theme);
  @include mat.input-theme(m3-theme.$dark-theme);
  @include mat.menu-theme(m3-theme.$dark-theme);
  @include mat.progress-bar-theme(m3-theme.$dark-theme);
  @include mat.progress-spinner-theme(m3-theme.$dark-theme);
  @include mat.slide-toggle-theme(m3-theme.$dark-theme);
  @include mat.sidenav-theme(m3-theme.$dark-theme);
  @include mat.snack-bar-theme(m3-theme.$dark-theme);
  @include mat.toolbar-theme(m3-theme.$dark-theme);
  @include mat.tree-theme(m3-theme.$dark-theme);
  @include custom-styles-theme(m3-theme.$dark-theme);

  &.light-theme {
    @include _apply-light-colors();
  }
  @media (prefers-color-scheme: light) {
    &:not(.dark-theme) {
      @include _apply-light-colors();
    }
  }
}
